<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings> 
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"  executionTimeout="240" maxRequestLength="20480"  />
	 
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="3000000000" />
		  </requestFiltering>
	  </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PropertyDescriptionEnquiryV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BankruptcySearchV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HMLRSearchPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="3000000" maxReceivedMessageSize="3000000" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="3000000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="EDocumentRegistrationV1_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OfficialSearchV2_1WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OnlineOwnershipVerificationV1_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OCWithSummaryV2_1WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
        <binding name="DaylistEnquiryV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
        <binding name="OutstandingRequestsV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OutstandingRequestsV2_0WSImplPortBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECBG_StubService/EnquiryByPropertyDescriptionV2_0WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="PropertyDescription.PropertyDescriptionEnquiryV2_0Service" name="PropertyDescriptionV2_0WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/BankruptcySearchV2_0WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="LandChargesBankruptcy.BankruptcySearchV2_0Service" name="BankruptcySearchV2_0WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECBG_StubService//OfficialSearchV2_1WebService" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" behaviorConfiguration="certificateBehaviour" contract="OS1.OfficialSearchV2_1Service" name="OfficialSearchV2_1WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECBG_StubService/OfficialCopyTitleKnownV2_1WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="OC1.OC1TitleKnownV2_1Service" name="OC1TitleKnownV2_1WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/EOOV_StubService/OnlineOwnershipVerificationV1_0WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="OwnerVerification.OnlineOwnershipVerificationV1_0Service" name="OnlineOwnershipVerificationV1_0WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/OfficialCopyWithSummaryV2_1WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="RES.OCWithSummaryV2_1Service" name="OCWithSummaryV2_1WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/DaylistEnquiryV2_0WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="DayListEnquiry.DaylistEnquiryV2_0Service" name="DaylistEnquiryV2_0WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/AttachmentV2_1PollRequestWebService" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="AttachmentPollRequest.AttachmentV2_1PollRequestService" behaviorConfiguration="certificateBehaviour" name="AttachmentV2_1PollRequestWSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/CorrespondenceV2_1PollRequestWebService" binding="basicHttpBinding" contract="Correspondence.CorrespondenceV2_1PollRequestService" behaviorConfiguration="certificateBehaviour" name="CorrespondenceV2_1PollRequestWSImplPort" bindingConfiguration="HMLRSearchPortBinding" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/EarlyCompletionV2_1PollRequestWebService" binding="basicHttpBinding" contract="EarlyCompletion.EarlyCompletionV2_1PollRequestService" behaviorConfiguration="certificateBehaviour" name="EarlyCompletionV2_1PollRequestWSImplPort" bindingConfiguration="HMLRSearchPortBinding" />
   
	    <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/EDocumentRegistrationV2_1PollRequestWebService" binding="basicHttpBinding" contract="PollService.EDocumentRegistrationV2_1PollRequestService" behaviorConfiguration="certificateBehaviour" name="EDocumentRegistrationV2_1PollRequestWSImplPort" bindingConfiguration="HMLRSearchPortBinding" />
      
		<endpoint address="https://bgtest.landregistry.gov.uk/b2b//ECDRS_StubService/EDocumentRegistrationV1_0WebService" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="EDRSApplication.EDocumentRegistrationV1_0Service"     behaviorConfiguration="certificateBehaviour" name="EDocumentRegistrationV1_0WSImplPort" />
        <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/EDocumentRegistrationV2_1WebService"  binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="EDRSApplicationV2_1.EDocumentRegistrationV2_1Service" behaviorConfiguration="certificateBehaviour" name="EDocumentRegistrationV2_1WSImplPort1" />
	  
	   <endpoint address="https://bgtest.landregistry.gov.uk/b2b//ECDRS_StubService/AttachmentV2_0WebService" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="AttachmentServiceRequest.AttachmentV2_0Service"     behaviorConfiguration="certificateBehaviour" name="AttachmentV2_0WSImplPort" />
       <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/AttachmentV2_1WebService"  binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="AttachmentServiceRequestV2_1.AttachmentV2_1Service" behaviorConfiguration="certificateBehaviour" name="AttachmentV2_1WSImplPort" />

	   <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/OutstandingRequestsV2_0WebService" binding="basicHttpBinding" contract="OutstandingRequests.OutstandingRequestsV2_0Service"     behaviorConfiguration="certificateBehaviour" name="OutstandingRequestsV2_0WSImplPort" bindingConfiguration="HMLRSearchPortBinding" />
	   <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/OutstandingRequestsV2_1WebService" binding="basicHttpBinding" contract="OutstandingRequestsV2_1.OutstandingRequestsV2_1Service" behaviorConfiguration="certificateBehaviour" name="OutstandingRequestsV2_1WSImplPort" bindingConfiguration="HMLRSearchPortBinding"/>

  </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="certificateBehaviour">
          <clientCredentials>
            <clientCertificate findValue="59 cc 2c a4" x509FindType="FindBySerialNumber" storeLocation="CurrentUser" storeName="My" />
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="liveBehaviour">
          <clientCredentials>
            <clientCertificate findValue="47 ca 12 44" x509FindType="FindBySerialNumber" storeLocation="CurrentUser" storeName="My" />
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>