<h2 mat-dialog-title>
    <div class="row justify-content-between">
        <div class="col-auto">
            Response from the Gateway
        </div>
        <div class="col-auto on-hover" (click)="onNoClick()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col">
            <p class="text-success" *ngIf="result.ResponseType == 'Acknowledgement'">
                {{result.Description}}
            </p>
            <p class="text-danger" *ngIf="result.ResponseType == 'Rejection'">
                {{result.Description}}
            </p>
        </div>
    </div>

    <div class="row w-100">
        <div class="col-4">
            <h4 class="mb-1">Type Code:</h4>
        </div>
        <div class="col-8">
            <h4 class="mb-1 font-weight-bold">{{result.TypeCode}}
            </h4>
        </div>
        <div class="col-4">
            <h4 class="mb-1">Created Date:
            </h4>
        </div>
        <div class="col-8">
            <h4 class="mb-1 font-weight-bold">{{result.CreatedDate | date : 'medium'}}
            </h4>
        </div>
    </div>

    <table class="table table-bordered mt-2">
        <thead>
            <tr class="grey lighten-3">
                <th scope="col" class="py-2">Attachment name</th>
                <th scope="col" class="py-2">Description</th>
                <th scope="col" class="py-2">Type Code</th>
                <th scope="col" class="py-2">Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of result.AttachmentResponse">
                <td>{{item.AttachmentName}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.TypeCode}}</td>
                <td>{{item.CreatedDate}}</td>
            </tr>
        </tbody>
    </table>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" class="text-success" cdkFocusInitial>Ok</button>
</mat-dialog-actions>