<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.serviceModel>
    <services />
    <bindings>
      <basicHttpBinding>
        <binding name="PropertyDescriptionEnquiryV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="None">
            <transport clientCredentialType="Certificate" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HMLRSearchPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="3000000" maxBufferPoolSize="524288" maxReceivedMessageSize="3000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="3000000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BankruptcySearchV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="None">
            <transport clientCredentialType="Certificate" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EDocumentRegistrationV1_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OfficialSearchV2_1WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OnlineOwnershipVerificationV1_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OCWithSummaryV2_1WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="DaylistEnquiryV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECBG_StubService/EnquiryByPropertyDescriptionV2_0WebService" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" behaviorConfiguration="certificateBehaviour" contract="PropertyDescription.PropertyDescriptionEnquiryV2_0Service" name="PropertyDescriptionV2_0WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/BankruptcySearchV2_0WebService" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="LandChargesBankruptcy.BankruptcySearchV2_0Service" behaviorConfiguration="certificateBehaviour" name="BankruptcySearchV2_0WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECDRS_StubService/EDocumentRegistrationV1_0WebService" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="EDRSApplication.EDocumentRegistrationV1_0Service" behaviorConfiguration="certificateBehaviour" name="EDocumentRegistrationV1_0WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/ECBG_StubService//OfficialSearchV2_1WebService" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" behaviorConfiguration="certificateBehaviour" contract="OS1.OfficialSearchV2_1Service" name="OfficialSearchV2_1WSImplPort" />
      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/EOOV_StubService/OnlineOwnershipVerificationV1_0WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="OwnerVerification.OnlineOwnershipVerificationV1_0Service" name="OnlineOwnershipVerificationV1_0WSImplPort" />
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/BGSoapEngine/OfficialCopyWithSummaryV2_1WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="RES.OCWithSummaryV2_1Service" name="OCWithSummaryV2_1WSImplPort" />      <endpoint address="https://bgtest.landregistry.gov.uk/b2b/BGStubService/DaylistEnquiryV2_0WebService" behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding" contract="DayListEnquiry.DaylistEnquiryV2_0Service" name="DaylistEnquiryV2_0WSImplPort" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="certificateBehaviour">
          <clientCredentials>
            <clientCertificate findValue="‎59 cc 2c a4" x509FindType="FindBySerialNumber" storeLocation="CurrentUser" storeName="My" />
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="liveBehaviour">
          <clientCredentials>
            <clientCertificate findValue="47 ca 12 44" x509FindType="FindBySerialNumber" storeLocation="CurrentUser" storeName="My" />
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>