<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PropertyDescriptionEnquiryV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BankruptcySearchV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HMLRSearchPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="3000000" maxReceivedMessageSize="3000000" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="3000000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="EDocumentRegistrationV1_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OfficialSearchV2_1WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OnlineOwnershipVerificationV1_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OCWithSummaryV2_1WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
        <binding name="DaylistEnquiryV2_0WSImplPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
        <binding name="OutstandingRequestsV2_0WSImplPortBinding" closeTimeout="00:01:00"
                              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                              allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
                              maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OutstandingRequestsV2_0WSImplPortBinding1" closeTimeout="00:01:00"
             openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
             allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
             maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/BGSoapEngine/EnquiryByPropertyDescriptionV2_0WebService"
        behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding"
        contract="PropertyDescription.PropertyDescriptionEnquiryV2_0Service" name="PropertyDescriptionV2_0WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/BGSoapEngine/BankruptcySearchV2_0WebService"
        behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding"
        contract="LandChargesBankruptcy.BankruptcySearchV2_0Service" name="BankruptcySearchV2_0WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/BGSoapEngine/OfficialSearchV2_1WebService" binding="basicHttpBinding"
        bindingConfiguration="HMLRSearchPortBinding" behaviorConfiguration="certificateBehaviour" contract="OS1.OfficialSearchV2_1Service"
        name="OfficialSearchV2_1WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/BGSoapEngine/OfficialCopyTitleKnownV2_1WebService"
        behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding"
        contract="OC1.OC1TitleKnownV2_1Service" name="OC1TitleKnownV2_1WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/EOOV_SoapEngine/OnlineOwnershipVerificationV1_0WebService"
        behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding"
        contract="OwnerVerification.OnlineOwnershipVerificationV1_0Service" name="OnlineOwnershipVerificationV1_0WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/BGSoapEngine/OfficialCopyWithSummaryV2_1WebService"
        behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding"
        contract="RES.OCWithSummaryV2_1Service" name="OCWithSummaryV2_1WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/BGSoapEngine/DaylistEnquiryV2_0WebService"
        behaviorConfiguration="certificateBehaviour" binding="basicHttpBinding" bindingConfiguration="HMLRSearchPortBinding"
        contract="DayListEnquiry.DaylistEnquiryV2_0Service" name="DaylistEnquiryV2_0WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/ECDRS_SoapEngine/EDocumentRegistrationV1_0WebService" binding="basicHttpBinding"
        bindingConfiguration="HMLRSearchPortBinding" contract="EDRSApplication.EDocumentRegistrationV1_0Service" behaviorConfiguration="certificateBehaviour"
        name="EDocumentRegistrationV1_0WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/ECDRS_SoapEngine/AttachmentV2_0WebService" binding="basicHttpBinding"
        bindingConfiguration="HMLRSearchPortBinding" contract="AttachmentServiceRequest.AttachmentV2_0Service" behaviorConfiguration="certificateBehaviour"
        name="AttachmentV2_0WSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/ECDRS_SoapEngine/AttachmentV2_1PollRequestWebService" binding="basicHttpBinding"
        bindingConfiguration="HMLRSearchPortBinding" contract="AttachmentPollRequest.AttachmentV2_1PollRequestService"
        behaviorConfiguration="certificateBehaviour" name="AttachmentV2_1PollRequestWSImplPort"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/BGSoapEngine/OutstandingRequestsV2_0WebService" binding="basicHttpBinding"
        contract="OutstandingRequests.OutstandingRequestsV2_0Service" behaviorConfiguration="certificateBehaviour" name="OutstandingRequestsV2_0WSImplPort"
        bindingConfiguration="HMLRSearchPortBinding"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/ECDRS_SoapEngine/CorrespondenceV2_1PollRequestWebService" binding="basicHttpBinding"
        contract="Correspondence.CorrespondenceV2_1PollRequestService" behaviorConfiguration="certificateBehaviour"
        name="CorrespondenceV2_1PollRequestWSImplPort" bindingConfiguration="HMLRSearchPortBinding"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/ECDRS_SoapEngine/EarlyCompletionV2_1PollRequestWebService" binding="basicHttpBinding"
        contract="EarlyCompletion.EarlyCompletionV2_1PollRequestService" behaviorConfiguration="certificateBehaviour"
        name="EarlyCompletionV2_1PollRequestWSImplPort" bindingConfiguration="HMLRSearchPortBinding"/>
      <endpoint address="https://businessgateway.landregistry.gov.uk/b2b/ECDRS_SoapEngine/EDocumentRegistrationV2_1PollRequestWebService"
        binding="basicHttpBinding" contract="PollService.EDocumentRegistrationV2_1PollRequestService" behaviorConfiguration="certificateBehaviour"
        name="EDocumentRegistrationV2_1PollRequestWSImplPort" bindingConfiguration="HMLRSearchPortBinding"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="certificateBehaviour">
          <clientCredentials>
            <clientCertificate findValue="59 cc 48 fb" x509FindType="FindBySerialNumber" storeLocation="LocalMachine" storeName="AddressBook"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="liveBehaviour">
          <clientCredentials>
            <clientCertificate findValue="59 cc 48 fb" x509FindType="FindBySerialNumber" storeLocation="LocalMachine" storeName="AddressBook"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>