<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-lg-3 col-sm-5 col-xs-2">
            <mdb-card class="mb-3" borderColor="border-dark">
                <mdb-card-header class="py-2">
                    Poll Request Cron Job
                </mdb-card-header>
                <mdb-card-body class="text-center">
                    <h2><b>Current Interval</b> : {{sliderTime}} </h2>
                    <mat-slider class="w-100" thumbLabel (change)="TriggerSlider()" [(ngModel)]="sliderTime"
                        [displayWith]="formatLabel" min="1" max="60">
                    </mat-slider>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>